/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.ship-action::after {
  font-family: woocommerce !important;
  content: "\e01a" !important;
}

.company-selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-dropdown-label {
  margin-bottom: 10px;
}

.ui-autocomplete-input {
  z-index: 9999999 !important;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-row > div {
  width: 100%;
}
