/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.company-selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-dropdown-label {
  margin-bottom: 10px;
}

/* #custom-modal::before {
					content: "";
					position: fixed;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: -100;
					width: 100vw;
					height: 100vh;
					background-color: rgba(0, 0, 0, 0.3);
					display: flex;
					align-items: center;
					justify-content: center;
				} */

.form-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
